html, body {
    height: 100%;
    width: 100%;
}

.page-wrap {
    height: 100%;
    margin-left: 33.33%;
    position: relative;
}


.card {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    padding: 10px;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

* {
    box-sizing: border-box;
}

.column {
    position: relative;
    float: left;
    height: 100%;
}


.row:after{
    position: relative;
    content: "";
    display: table;
    clear: both;

}


.card__face {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-size: contain;

}


.card__face--back {
    position: absolute;
    transform: rotateY(180deg);

}

.card__face--back--front{
    position: absolute;
}

